<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magecomp_Recaptcha>
            <version>2.0.8</version>
        </Magecomp_Recaptcha>
    </modules>
    <frontend>
        <routers>
            <recaptcha>
                <use>standard</use>
                <args>
                    <module>Magecomp_Recaptcha</module>
                    <frontName>recaptcha</frontName>
                </args>
            </recaptcha>
        </routers>
        <layout>
            <updates>
                <recaptcha>
                    <file>recaptcha.xml</file>
                </recaptcha>										
            </updates>
        </layout>
    </frontend>
	 <adminhtml>
        <layout>
            <updates>
                <recaptcha>
                    <file>adminlogin.xml</file>
                </recaptcha>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <recaptcha>
                <class>Magecomp_Recaptcha_Model</class>
                <resourceModel>recaptcha_mysql4</resourceModel>
            </recaptcha>
            <recaptcha_mysql4>
                <class>Magecomp_Recaptcha_Model_Mysql4</class>
                <entities>
                    <recaptcha>
                        <table>recaptcha</table>
                    </recaptcha>
                </entities>
            </recaptcha_mysql4>
        </models>
        <events>
            <controller_action_predispatch_customer_account_createPost>
                <observers>
                    <magecomp_recaptcha>
                        <class>Magecomp_Recaptcha_Model_Observer</class>
                        <method>Customercreate</method>
                    </magecomp_recaptcha>
                </observers>
            </controller_action_predispatch_customer_account_createPost>
            <controller_action_predispatch_review_product_post>
                <observers>
                    <magecomp_recaptcha_review>
                        <class>Magecomp_Recaptcha_Model_Observer</class>
                        <method>Reviewsubmit</method>
                    </magecomp_recaptcha_review>
                </observers>
            </controller_action_predispatch_review_product_post>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <magecomp_recaptcha_billing>
                        <class>Magecomp_Recaptcha_Model_Observer</class>
                        <method>Savebilling</method>
                    </magecomp_recaptcha_billing>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
			<controller_action_predispatch_customer_account_loginPost>
			 <observers>
			 	<magecomp_recaptcha_login>
					<class>Magecomp_Recaptcha_Model_Observer</class>
					 <method>Login</method>
				</magecomp_recaptcha_login>
			 </observers>
			</controller_action_predispatch_customer_account_loginPost>
			<newsletter_subscriber_save_commit_after>
				<observers>
					<magecomp_captcha_newsletter>
						<class>Magecomp_Recaptcha_Model_Observer</class>
						<method>Newslettersubmit</method>
					</magecomp_captcha_newsletter>
				</observers>
			</newsletter_subscriber_save_commit_after>			
			<admin_session_user_login_success>
				<observers>
					<magecomp_captcha_adminlogin>
						<class>Magecomp_Recaptcha_Model_Observer</class>
						<method>adminloginsubmit</method>
					</magecomp_captcha_adminlogin>
				</observers>
			</admin_session_user_login_success>
        </events>
        <resources>
            <recaptcha_setup>
                <setup>
                    <module>Magecomp_Recaptcha</module>
                </setup>
            </recaptcha_setup>
        </resources>
        <helpers>
            <recaptcha>
                <class>Magecomp_Recaptcha_Helper</class>
            </recaptcha>
        </helpers>
        <template>
            <email>
                <mcm_contacts module="recaptcha">
                    <label>Contact</label>
                    <file>mcm_contacts.html</file>
                    <type>html</type>
                </mcm_contacts>
            </email>
        </template>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magecomp_captcha>
                                            <title>Magecomp - Recaptcha</title>
                                        </magecomp_captcha>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
